<p>Congratulations! We are pleased to inform you that your application has been
  approved. You are now officially a member.</p>

<p><strong>Next Steps:</strong></p>
<ul>
  <li>Log in to your account to access member-exclusive resources.</li>
  <li>Connect with our community, contribute in projects and participate in
    upcoming events.</li>
  <li>Explore your member dashboard to see what's available to you.</li>
</ul>

<p>Your account has been assigned the role of
  <strong>Regular Member</strong>, which allows you to actively participate in
  association activities.</p>

<div class='button-container'>
  <a href='{{dashboardUrl}}' class='button'>Go to Member Profile</a>
</div>

<p>If you have any questions, feel free to reach out to our support team.</p>