<p>We are pleased to inform you that we have successfully received your
  application. Thank you for your interest in joining us!</p>

<p>To complete your membership application and activate your account, please
  click the button below to pay the registration fee of 3,000 FCFA. This payment
  is required to proceed—your application will not be fully processed or
  approved until the fee is received.</p>

<p>Our team will carefully review your submission, and we will reach out to you
  if we require any additional information. In the meantime, if you have any
  questions, please don’t hesitate to contact us.</p>

<div class='button-container'>
  <a href='{{paymentLink}}' class='button'>Complete Your Application With
    Payment</a>
</div>