<p>We are pleased to inform you that we have successfully received your
  application. Thank you for your interest in joining us.</p>

<p>To complete your mambership application and activate your account, please click the button below and perform transaction.</p>

<p>Our team will carefully review your submission, and we will reach out to you
  should we require any additional information. In the meantime, if you have any
  questions, please do not hesitate to contact us.</p>