<p>We have received a request to reset the password for your account. If you did
  not initiate this request, please disregard this email.</p>

<p>To proceed with resetting your password, please click the button below:</p>

<div class='button-container'>
  <a href='{{resetUrl}}' class='button'>Reset Your Password</a>
</div>

<p>This password reset link will expire in 1 hour for security reasons.</p>

<p>If the button above doesn't work, you can also copy and paste the following
  URL into your browser:</p>
<p style='word-break: break-all; color: #666;'>{{resetUrl}}</p>