<p>We are pleased to inform you that your role in the association has been
  updated to
  <strong>{{roleName}}</strong>.</p>

<p>Your new role will allow you to {{roleResponsibilities}}.</p>

<p>With this role update, you now have access to:</p>
<ul>
  <li>Specific functionalities within our platform related to your role</li>
  <li>Relevant resources and documentation</li>
  <li>Communication channels with other members in similar roles</li>
</ul>

<div class='button-container'>
  <a href='{{dashboardUrl}}' class='button'>View Your Updated Dashboard</a>
</div>

<p>We appreciate your continued contribution to the association and look forward
  to your involvement in this new capacity.</p>